<h2>Show Todo</h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @todo.description %>
  </li>
  <li>
    <strong>Category:</strong>
    <%= category_name(@todo.category) %>
  </li>

</ul>

<span><%= link "Edit", to: todo_path(@conn, :edit, @todo) %></span>
<span><%= link "Back", to: todo_path(@conn, :index) %></span>
