<div class="jumbotron">
  <h2>Welcome to Todone</h2>
  <p class="lead">Do one thing everyday.</p>
  <p><a class="btn btn-lg btn-success" href="/registrations/new" role="button">Sign up today</a></p>
</div>
